**/.git
**/.github
**/.vs
**/.vscode
**/bin
**/obj
**/logs
**/publish
**/out

appsettings.Development.json
appsettings.Local.json
appsettings.*.Local.json
secrets.json
.env
.env.*

*.binlog
*.log
*.nupkg
*.snupkg
Dockerfile
README.md
